body{
    font-family: "Roboto", serif;
}

.p-6{
    padding: 4rem !important;
  }


.gap-6 {
    gap: 3.5rem !important;
  }
  
  .gap-7 {
    gap: 4rem !important;
  }
  
  .gap-8 {
    gap: 4.5rem !important;
  }
  
  .gap-9 {
    gap: 5rem !important;
  }
  
  .gap-10 {
    gap: 6rem !important;
  }
  

  .gap-18 {
    gap: 10rem !important;
  }



  .pb-10 {
    padding-bottom: 6rem !important;
  }

  .mb-10{
    margin-bottom: 6rem;
  }

  .navbar-logo {
    width: 150px;  
    height: auto; 
    background-color: white !important;

    }

    .button{
        padding: 10px 30px 10px 30px;
        background-color: #41A3FF;
        border-color: #41A3FF;
        color: white;
        border-radius: 17px;
        width: 200px
    }

    .navbar-toggler-icon {
        color: #41A3FF; /* Your desired color */
        border-color: white;
    }


    h1{
        color: black;
    }



    .banner-section-background{
      background-color: #41A3FF;
     }



     footer{
      background-color: #41A3FF !important;
      color: white !important;
     }

     .user-image{
      width: 50px;
     }
   
   

     .testimonial{
      background-color: white;
     }
   


     .set-up-image{
      width: 400px;
      height: 400px;
     }


     .key-features-features-section-background{
      background-color: #C1E1FF;
     }

     .testimonials-section-background{
      background-color: #C1E1FF;
     }

     .key-features-hero-mobile-text{
      background-color: white;
     }


     @media (max-width: 769px) {
      .banner-section{
        display: none !important;
      }
    
    
   
    
    
    }
   
    






@import "../node_modules/bootstrap/scss/bootstrap.scss";