@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


$custom-font-family: "Roboto", serif;

$font-family-base: $custom-font-family;



$custom-background-colour: #c1e1ff;


$background-colour: $custom-background-colour;


.bg-custom {
  background-color: $background-colour !important;
}


$navbar-link-gap: 10rem;

$spacers: map-merge(
  $spacers,
  (
    custom-gap: $navbar-link-gap,
  )
);

.gap-custom {
  gap: map-get($spacers, custom-gap);
}
.custom-mb {
  margin-bottom: 6rem;
}

.navbar-logo {
  width: 150px;
  height: auto;
  background-color: white !important;
}

.button {
  padding: 10px 30px 10px 30px;
  background-color: #41a3ff;
  border-color: #41a3ff;
  color: white;
  border-radius: 17px;
  width: 200px;
}



h1 {
  color: black;
}

.banner-section-background {
  background-color: #c1e1ff;
}

footer {
  background-color: #41a3ff !important;
  color: white !important;
}

.user-image {
  width: 50px;
}

.set-up-image {
  width: 400px;
  height: 400px;
}

.key-features-features-section-background {
  background-color: #c1e1ff;
}

.testimonials-section-background {
  background-color: #c1e1ff;
}

.key-features-hero-mobile-text {
  background-color: white;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
