@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-font-family: "Roboto", serif;

$font-family-base: $custom-font-family; // Changes bootstrap default font family to roboto

$custom-colour-1: #c1e1ff; // Used for light blue backgrounds
$custom-colour-2: #41a3ff; // Primary blue for elements like footer and buttons
$custom-colour-3: #fff;

.footer-custom-colour {
  background-color: $custom-colour-2 !important;
}

.bg-custom-colour {
  background-color: $custom-colour-1 !important;
}

$navbar-link-gap: 10rem;

$spacers: map-merge(
  $spacers,
  (
    custom-gap: $navbar-link-gap, // Merging a custom spacing value for reusable gaps
  )
);

$custom-margin-bottom: 6rem;

.custom-mb {
  margin-bottom: $custom-margin-bottom; // Utility class for consistent bottom spacing
}

.gap-custom {
  gap: map-get($spacers, custom-gap);
}

$btn-padding: 10px 30px;
$btn-border-radius: 17px;
$btn-width: 200px;

.custom-button {
  padding: $btn-padding;
  background-color: $custom-colour-2;
  border-color: $custom-colour-2;
  color: $custom-colour-3;
  border-radius: $btn-border-radius;
  width: $btn-width;
}

.navbar-logo {
  width: 150px;
  height: auto;
  background-color: white !important;
}

.user-image {
  width: 50px;
}

.set-up-image {
  width: 400px;
  height: 400px;
}

.key-features-features-section-background {
  background-color: #c1e1ff;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
